.input-container {
    position: relative;
}
  
.search-box {
    border: 2px solid #f8f8f8;
    border-radius: 25px;
    padding: 0px 16px;
    height: 40px;
    background:  rgba(255, 255, 255, 0.2);
}


.city-options {
    font-size: 14px;
    position: absolute;
    top: 55%;
    left: 0;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(12, 12, 12, 0.9);
    border: 0px solid #ccc;
    border-top: none;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin-left: 5%;
}
  
.option {
    padding: 10px;
    cursor: pointer;
}
  
.option:hover {
    background-color: #250055;
}
  