@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Gradient backgrounds */
.blue-gradient {
  background: linear-gradient(to bottom, #4579a7, #295a8b);
}

.orange-gradient {
  background: linear-gradient(to bottom, #ffbe86, #ec8e4f);
}

.red-gradient {
  background: linear-gradient(to bottom, #fc847d, #813a3a);
}

/* Searchbox */
.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.search-box {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.city-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 0px 0px 10px 10px;
  max-height: 200px;
  overflow-y: auto;
  padding: 0.5rem;
  z-index: 1;
}

.option {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
